div.container-Titles{
  display: flex;
  align-items: center;
  justify-content: center ;
  color: #F71963;

  h2{
  position: relative;
  font-family: Poppins, sans-serif;
  font-size: 1.875rem;
  line-height: 150%;
  font-weight: 700;

}
}