div.container-Brands{

  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;

  width: 13.1875rem;
  height: 13.1875rem;
  border-radius: 9999px;

  background: var(--white);
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  transition: all 0.2s;

  img.logo-Brands{
  
    object-fit: contain;
  }

}