div.container-BoxesSectionPartners{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.5625rem;
  margin-bottom: 3.8125rem;

   @media (max-width:1280px){
   flex-direction: column;
    gap: 0rem;
  }
}