header{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.content-Header {
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}