div.container-BoxesSectionProducts{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.5625rem;

     @media (max-width:1280px){
   flex-direction: column;
    gap: 0rem;
  }
}