div.container-ProductCategories{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80rem;

   @media (max-width:1280px){
   width: 60rem;  
   gap: 1.5rem;
  }
  
  gap: 3rem;

  margin-top: 2.125rem;
  margin-bottom: 2.4375rem;

}